body {
    min-height: 99.85vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    font-size: 50px;
}

.board {
    height: 70vh; /* set the height to be the full height of the viewport */
    width: 70vw;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; /* add some spacing between cells */
   
}

.board-cell {
    border: none; /* remove the border */
    background: lightblue; /* set a light background color */
    width: 99.5%;
    height: 99.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem; /* increase the font size */
    color: #444; /* set a darker text color */
    cursor: pointer; /* add a pointer cursor on hover */
    transition: background-color 0.3s ease; /* add a transition on background color change */
}

.result {
    color: red;
    font-size: 5vw;
}

